.r2c-guide-panel.feedback-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.r2c-guide-panel.feedback-panel .feedback-panel-description {
  margin: 0 2em 1ex;
}

.r2c-guide-panel.feedback-panel .intercom-hint {
  margin-top: 15px;
  padding: 0 30px;

  font-size: 10px;
  color: rgba(16, 22, 26, 0.6);
}
