body.r2c-extension-popup {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.r2c-guide {
  height: 400px;
  width: 300px;
  overflow: auto;
}

.r2c-guide-tabs .bp3-tab-list {
  padding: 0 8px;
  box-shadow: 0px 1px 5px rgba(10, 155, 218, 0.6),
    0px 0px 1px rgba(10, 155, 218, 0.3);
}

.r2c-guide-tabs .bp3-tab-indicator {
  background-color: #0a9bda;
}

.r2c-guide .r2c-tab svg {
  width: 1em;
  height: 1em;
}

.r2c-guide .r2c-tab svg path {
  fill: #0a9bda;
}

.r2c-guide-tabs .bp3-tab-panel {
  margin-top: 8px;
}

.r2c-guide-panel {
  margin: 0 8px 8px;
}
