.profile-panel .profile-section h2 {
  font-size: 16px;
  font-weight: 600;
}

.profile-panel .mentions-list .profile-mention {
  margin-bottom: 1ex;
  padding-bottom: 1ex;
  border-bottom: 1px solid #ddd;

  display: flex;
  flex-direction: row;
}

.profile-mention .profile-mention-profile-pic {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  margin-right: 8px;
  flex: 0 0 auto;
}

.profile-mention .profile-mention-meta .user-profile-handle {
  font-weight: 600;
}
