.blob-num {
  transition: background-color 0.3s;
}

.blob-num.r2c-blob-finding-highlight {
  position: relative;
}

.blob-num.r2c-blob-finding-highlight .r2c-blob-finding-highlight-hitbox {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.blob-num .r2c-blob-finding-highlight-hitbox:hover .finding-highlight-marker {
  background-color: hsl(12, 83%, 55%);
}

.blob-num .r2c-blob-finding-highlight-hitbox:active .finding-highlight-marker {
  background-color: hsl(12, 83%, 35%);
  box-shadow: inset 0 1px 0 rgba(27, 31, 35, 0.12);
}

.blob-num.r2c-blob-finding-highlight .finding-highlight-marker {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  left: 5px;
  top: 5px;
}

.blob-num.r2c-blob-finding-highlight
  .finding-highlight-marker.marker-commit-match {
  background-color: rgb(209, 57, 19);
}

.blob-num.r2c-blob-finding-highlight
  .finding-highlight-marker.marker-commit-mismatch {
  background-color: rgba(209, 57, 19, 0.4);
  border: 1px dotted rgb(209, 57, 19);
}

.blob-num.r2c-blob-finding-highlight
  .finding-highlight-marker.marker-multiple-commits {
  box-shadow: 3px 3px 0 rgba(209, 57, 19, 0.4);
}

.r2c-blob-findings-grouped-list {
  width: 300px;
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.approximate-finding-notice {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-bottom: 1px solid rgba(104, 80, 21, 0.3);
  background-color: rgb(255, 246, 214);
  color: rgb(104, 80, 21);
}

.approximate-finding-notice header {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 1ex;
}

.approximate-finding-notice .notice-text {
  font-size: 12px;
  margin-bottom: 1ex;
}
