.r2c-repo-headsup {
  border: 1px solid #dfe2e5;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
}

.checklist-headsup.detailed-headsup {
  border-top-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.repo-headsup-actions {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.repo-headsup-actions .package-copy-box {
  flex: 1 1 auto;
}

.repo-headsup-actions-footer {
  padding-right: 1ex;
  display: flex;
  flex-direction: row;
  align-items: center;

  flex: 0 0 auto;
}

.repo-headsup-actions-footer div:last-child {
  margin-left: auto;
}

.repo-headsup-actions-footer a svg.r2c-logo {
  height: 1em;
  width: auto;
}

.repo-headsup-actions-footer a .r2c-logo-path {
  fill: #0a9bda;
}

.repo-headsup-actions-footer .repo-headsup-report {
  font-size: 12px;
  color: rgba(16, 22, 26, 0.6);
}

.r2c-repo-headsup h1 {
  font-size: 18px;
  display: flex;
  align-items: center;
}

.r2c-repo-headsup.checklist-headsup .repo-headsup-body {
  flex: 1 1 auto;

  display: grid;
  grid-template-columns: [checklist-start] 1fr [checklist-end supplemental-start] 1fr [supplemental-end actions-start] 1fr [actions-end];
  grid-column-gap: 20px;
  grid-template-rows: auto;
  grid-template-areas: "checklist supplemental actions";
  justify-items: stretch;
  align-items: stretch;
}

.repo-headsup-body .repo-headsup-column {
  border-left: 1px solid rgba(16, 22, 26, 0.1);
  padding: 10px;
  margin-left: -10px;
}

.repo-headsup-body .repo-headsup-column > section header h1,
.repo-headsup-body .repo-headsup-column > section header h2 {
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.repo-headsup-body .repo-headsup-column:first-child {
  border-left: none;
  margin-left: 0;
}

.repo-headsup-body .repo-headsup-column.repo-headsup-checklist {
  grid-area: checklist;
}

.repo-headsup-body .repo-headsup-column.repo-headsup-supplemental {
  grid-area: supplemental;
}

.repo-headsup-body .repo-headsup-supplemental > section,
.repo-headsup-body .repo-headsup-supplemental .headsup-supplemental-nonideal {
  margin-bottom: 1em;
}

.repo-headsup-body header .selected-package {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
}

.repo-headsup-body .repo-headsup-supplemental > section:last-child {
  margin-bottom: 0;
}

.repo-headsup-body .repo-headsup-column.repo-headsup-actions {
  grid-area: actions;
}

ul.preflight-checklist {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

ul.preflight-checklist .preflight-checklist-item {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: -10px;
}

ul.preflight-checklist .preflight-checklist-item .preflight-checklist-icon {
  margin-right: 1em;
}

ul.preflight-checklist .preflight-checklist-item .preflight-checklist-title {
  margin-left: 0.5em;
}

.repo-headsup-message-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.preflight-legend {
  display: flex;
  flex-direction: row;
}

.preflight-legend .legend-entry {
  margin-right: 1em;
  display: flex;
  align-items: center;

  font-size: 12px;
  color: rgba(16, 22, 26, 0.6);
}

.preflight-legend .legend-entry svg {
  height: 1em;
}

.preflight-footer-side {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.preflight-danger,
.preflight-danger .r2c-repo-headsup {
  border-color: #cb2431;
}

.preflight-safe,
.preflight-safe .r2c-repo-headsup {
  border-color: #5eba5c;
}

.preflight-warning,
.preflight-warning .r2c-repo-headsup {
  border-color: #f1e05a;
}

.preflight-missing,
.preflight-error,
.preflight-missing .r2c-repo-headsup,
.preflight-error .r2c-repo-headsup {
  border-color: #959595;
}

.preflight-loading,
.preflight-loading .r2c-repo-headsup {
  border-color: #2d9cdb;
}

.preflight-unsupported,
.preflight-unsupported .r2c-repo-headsup {
  border-color: #bb6bd9;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#loading {
  animation: spin 1s infinite cubic-bezier(0.645, 0.2, 0.355, 0.7);
}
