.r2c-repo-headsup {
  border: 1px solid #dfe2e5;
  border-radius: 3px;
  margin-top: 10px;

  display: flex;
  flex-direction: column;
}

.r2c-repo-headsup > header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 6px 10px;
  border-bottom: 1px solid rgba(16, 22, 26, 0.1);

  background-color: rgba(16, 22, 26, 0.03);
}

.r2c-repo-headsup > header .preflight-logo {
  font-style: italic;
  color: #0a9bda;
}

.r2c-repo-headsup > header .checklist-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.r2c-repo-headsup > header .checklist-right svg.r2c-logo {
  height: 1em;
  width: auto;
  margin-left: 1em;
}

.r2c-repo-headsup > header .checklist-right .r2c-logo-path {
  fill: #0a9bda;
}

.r2c-repo-headsup h1 {
  font-size: 18px;
  display: flex;
  align-items: center;
}

.r2c-repo-headsup > header .checklist-right .updated-message {
  font-size: 12px;
  color: rgba(16, 22, 26, 0.6);
  cursor: pointer;
}

.r2c-repo-headsup
  > header
  .checklist-right
  .updated-message:hover
  .updated-timeago {
  text-decoration: underline;
}

.r2c-repo-headsup.checklist-headsup .repo-headsup-body {
  flex: 1 1 auto;

  display: grid;
  grid-template-columns: [checklist-start] 1fr [checklist-end supplemental-start] 1fr [supplemental-end actions-start] 1fr [actions-end];
  grid-column-gap: 20px;
  grid-template-rows: auto;
  grid-template-areas: "checklist supplemental actions";
  justify-items: stretch;
  align-items: stretch;
}

.repo-headsup-body .repo-headsup-column {
  border-left: 1px solid rgba(16, 22, 26, 0.1);
  padding: 10px;
  margin-left: -10px;
}

.repo-headsup-body .repo-headsup-column:first-child {
  border-left: none;
  margin-left: 0;
}

.repo-headsup-body .repo-headsup-column.repo-headsup-checklist {
  grid-area: checklist;
}

.repo-headsup-body .repo-headsup-column.repo-headsup-supplemental {
  grid-area: supplemental;
}

.repo-headsup-body .repo-headsup-supplemental > section,
.repo-headsup-body .repo-headsup-supplemental .headsup-supplemental-nonideal {
  margin-bottom: 1em;
}

.repo-headsup-body .repo-headsup-supplemental > section:last-child {
  margin-bottom: 0;
}

.repo-headsup-body .repo-headsup-column.repo-headsup-actions {
  grid-area: actions;
}

ul.preflight-checklist {
  list-style: none;
}

ul.preflight-checklist .preflight-checklist-item {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: -10px;
}

ul.preflight-checklist .preflight-checklist-item .preflight-checklist-icon {
  margin-right: 1em;
}

ul.preflight-checklist .preflight-checklist-item .preflight-checklist-title {
  margin-left: 0.5em;
}

.repo-headsup-message-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.preflight-legend {
  display: flex;
  flex-direction: row;
}

.preflight-legend .legend-entry {
  margin-right: 1em;
  display: flex;
  align-items: center;

  font-size: 12px;
  color: rgba(16, 22, 26, 0.6);
}

.preflight-legend .legend-entry svg {
  height: 1em;
}

.preflight-footer-side {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
