.unsupported-headsup .unsupported-message,
.r2c-repo-headsup .headsup-inline-message {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.unsupported-message-text {
  display: flex;
  align-items: baseline;
}

.dismiss-options .unsupported-message,
.r2c-repo-headsup .headsup-inline-message {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.dismiss-options {
  display: flex;
  align-items: baseline;
  margin-left: auto;
}

.loading-headsup .loading-message,
.error-headsup .error-message {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.loading-headsup .loading-headsup-spinner,
.error-headsup .error-icon {
  margin-right: 1em;
}

.r2c-repo-headsup.nonideal-headsup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 10px;
  
}

.nonideal-headsup.error-headsup {
  flex-direction: column;
  align-items: stretch;
}

.error-headsup .error-briefing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.error-headsup .error-briefing .error-briefing-message {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.error-headsup .error-briefing .error-briefing-action {
  flex: 0 0 auto;
}

.error-headsup .error-details {
  padding: 1ex;
  margin-top: 1ex;
  background-color: rgba(16, 22, 26, 0.05);
}

.error-headsup .error-details pre {
  white-space: pre-wrap;
}
