.r2c-repo-headsup.simple-headsup {
  height: 49px;
}

.simple-headsup {
  flex-flow: row nowrap;
  justify-content: space-between;
  -webkit-flex-flow: row nowrap;
  align-items: center;
  margin-top: 1em;
}

.simple-headsup-headline {
  font-size: 16px;
  font-weight: 600;
  padding-left: 1em;
}

.simple-headsup-headline p {
  margin: 0;
}

.simple-headsup > .simple-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1.5em;
}

.simple-headsup > .simple-right {
  padding-right: 1.5em;
  font-size: 12px;
  color: rgba(16, 22, 26, 0.6);
}

.simple-headsup-hidden {
  display: none;
}
