.r2c-action-bar {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 0px 1px rgba(0, 0, 0, 0.3);
  flex: 0 0 auto;
}

.secarta-vote-button,
.r2c-action-button,
.secarta-vote-button .vote-icon {
  height: 48px;
  width: 48px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  text-decoration: none;

  position: relative;
  z-index: 100;
}

.r2c-action-button.selected {
  position: relative;
  z-index: 300;
}
