.r2c-actionbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  position: relative;
  flex: 0 0 auto;
}

.r2c-actionbar .actionbar-actions {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 0px 1px rgba(0, 0, 0, 0.3);
}

.secarta-vote-button,
.r2c-action-button,
.secarta-vote-button .vote-icon {
  height: 48px;
  width: 48px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  text-decoration: none;

  position: relative;
  z-index: 100;

  transition: background-color 0.1s, fill 0.1s, box-shadow 0.3s;
}

.r2c-action-button {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  fill: #0a8dc7;
}

.r2c-action-button.bp3-intent-danger {
  fill: #db3737;
}

.r2c-action-button.bp3-intent-danger:hover {
  background-color: #db3737;
  fill: #fff;
}

.r2c-action-button.bp3-intent-danger.action-button-selected {
  background-color: #db3737;
  border: none;
  fill: #fff;
}

.r2c-action-button.bp3-intent-danger .action-count {
  color: #db3737;
}

.r2c-action-button:hover {
  background-color: #0a9bda;
  fill: #fff;
}

.r2c-action-button.action-button-selected {
  position: relative;
  z-index: 300;
  border-left: 3px solid #0a9bda;
}

.r2c-action-button.action-button-selected .action-button-link {
  margin-left: -3px;
}

.r2c-action-button .action-button-link {
  height: 48px;
  width: 48px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.action-count {
  padding: 8px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.action-count-container {
  position: absolute;
  left: -20px;
  z-index: 100;
}

.action-count {
  color: #0a9bda;
}

.action-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
