.r2c-twist .twist .share-twist {
  width: 100px;
}

.share-twist .share-actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.r2c-twist .twist .share-twist .tweet-icon {
  display: hidden;
}
