.twist {
  display: flex;
  flex-direction: column;

  /* https://stackoverflow.com/questions/28636832/firefox-overflow-y-not-working-with-nested-flexbox */
  min-height: 0;
}

.twist .twist-header {
  flex: 0 0 auto;
}

.twist .twist-body {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;

  /* https://stackoverflow.com/questions/28636832/firefox-overflow-y-not-working-with-nested-flexbox */
  min-height: 0;

  overflow-x: hidden;
  visibility: visible;
}

.twist .twist-scroll-container {
  overflow: auto;
  visibility: hidden;
  margin-right: -10px;
}

.twist .twist-scroll-container:hover {
  visibility: visible;
}
