.r2c-actionbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  position: relative;
  flex: 0 0 auto;
}

.r2c-actionbar .actionbar-actions {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 0px 1px rgba(0, 0, 0, 0.3);
}

.r2c-actionbar .twist-container {
  position: relative;
  z-index: 200;
  width: 250px;
}

.r2c-actionbar .twist-container.twists-transition-enter {
  animation: 300ms twists-in both cubic-bezier(0.215, 0.61, 0.355, 1);
}

.r2c-actionbar .twist-container.twists-transition-exit {
  animation: 300ms twists-out both cubic-bezier(0.215, 0.61, 0.355, 1);
}

.r2c-actionbar .twist-container .twist {
  background-color: #fff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 0px 1px rgba(0, 0, 0, 0.3);
  padding: 10px;
  height: 420px;
}

.twist h1 {
  font-size: 16px;
  font-weight: 600;
}

@keyframes twists-in {
  0% {
    margin-right: -250px;
  }

  100% {
    margin-right: 0;
  }
}

@keyframes twists-out {
  0% {
    margin-right: 0px;
  }

  100% {
    margin-right: -250px;
  }
}
