.secarta-vote-button .vote-icon {
  overflow: hidden;
  position: relative;
}

.secarta-vote-button {
  background-color: #aaa;
  fill: white;
}

.vote-count {
  text-decoration: none;
  cursor: help;
}

.r2c-action-button {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  fill: #0a9bda;
}

.r2c-action-button.button-private-repository {
  width: inherit;
  padding: 15px;
  background-color: #ddd;
  fill: #777;
  color: #777;
  cursor: default;
  pointer-events: none;
}

.r2c-action-button.button-private-repository svg {
  margin-right: 10px;
}

.secarta-vote-button.vote-success-enter,
.secarta-vote-button.vote-failed {
  pointer-events: none;
  cursor: not-allowed;
}

.secarta-vote-button.vote-up.vote-success-enter svg {
  animation: vote-up-succeeded-icon both 1.5s 0s
    cubic-bezier(0.215, 0.61, 0.355, 1);
}

.secarta-vote-button.vote-down.vote-success-enter svg {
  animation: vote-down-succeeded-icon both 1.5s 0s
    cubic-bezier(0.215, 0.61, 0.355, 1);
}

.secarta-vote-button.vote-failed svg {
  animation: vote-failed-icon both 1.5s 0s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.secarta-vote-button.vote-up.vote-success-enter .voted-text {
  position: absolute;
  animation: vote-up-succeeded-text both cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-duration: 1.5s;
}

.secarta-vote-button.vote-down.vote-success-enter .voted-text,
.secarta-vote-button.vote-failed .voted-text {
  position: absolute;
  animation: vote-down-succeeded-text both cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-duration: 1.5s;
}

.secarta-vote-button.vote-success-enter .vote-count {
  animation: vote-succeeded-count both cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
}

.secarta-vote-button-link:active {
  box-shadow: inset 0px 0px 20px rgba(255, 255, 255, 0.5);
}

.secarta-vote-button.vote-up {
  background-color: #fff;
  fill: #33a02c;
  color: #33a02c;
}

.secarta-vote-button.vote-up.voted {
  background-color: #33a02c;
  fill: #fff;
}

.secarta-vote-button.vote-up a:hover {
  background-color: #33a02c;
  fill: #fff;
}

.secarta-vote-button.vote-down {
  background-color: #fff;
  fill: rgb(178, 24, 43);
  color: rgb(178, 24, 43);
}

.secarta-vote-button.vote-down a:hover {
  background-color: rgb(178, 24, 43);
  fill: #fff;
}

.secarta-vote-button.vote-down.voted {
  background-color: rgb(178, 24, 43);
  fill: #fff;
}

.secarta-vote-button.vote-question {
  background-color: #fff;
  fill: #634dbf;
  color: #634dbf;
}

.secarta-vote-button.vote-question a:hover {
  background-color: #634dbf;
  fill: #fff;
}

.secarta-vote-button.vote-question.voted {
  background-color: #634dbf;
  fill: #fff;
}

.vote-count-popover .bp3-popover-content {
  background-color: #fff;
  color: #10161a;
}

.vote-count-popover .bp3-popover-arrow-fill {
  fill: #fff;
}

.sample-votes-container .sample-vote-header {
  font-size: 18px;
  margin-bottom: 10px;
}

.sample-votes-container ul {
  list-style: none;
}

.sample-votes .voter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
}

.sample-votes .voter .voter-profile-picture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 15px;
}

@keyframes vote-up-succeeded-icon {
  0% {
    transform: translateY(0);
  }

  49.99% {
    transform: translateY(-100px);
  }

  50.01% {
    transform: translateY(100px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes vote-down-succeeded-icon {
  0% {
    transform: translateY(0);
  }

  49.99% {
    transform: translateY(100px);
  }

  50.01% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes vote-failed-icon {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(100px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes vote-up-succeeded-text {
  0% {
    transform: translateY(100px);
  }

  30% {
    transform: translateY(0px);
  }

  60% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-48px);
  }
}

@keyframes vote-down-succeeded-text {
  0% {
    transform: translateY(-100px);
  }

  30% {
    transform: translateY(0px);
  }

  60% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(48px);
  }
}

@keyframes vote-succeeded-count {
  0% {
    top: -20px;
    transform: scale(1);
  }

  50% {
    top: -30px;
  }

  100% {
    top: -20px;
  }
}
