/* .metascore-breakdown-title {
    font-weight: bold;
    border-bottom: 1px solid rgba(16, 22, 26, 0.1);
    padding-bottom: 8px;
  }
  
  .metascore-breakdown-factor {
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
  }
  
  .metascore-breakdown-header .metascore-breakdown-factor-name {
    font-weight: 600;
  }
  
  .metascore-breakdown-factor-value {
    font-weight: 600;
  }
  
  .metascore-breakdown-footer {
    border-top: 1px solid rgba(16, 22, 26, 0.1);
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
  }
  
  .metascore-breakdown-total-value {
    font-weight: bold;
  }
  
  .metascore-breakdown-factor-value.factor-positive {
    color: #219653;
  }
  
  .metascore-breakdown-factor-value.factor-negative {
    color: #d93434;
  }
  
  .metascore-breakdown-container {
    width: 240px;
    padding: 15px;
  }
   */


body {
    width: 300px;
}